@model PedidoIndexViewModel
@{
    ViewData["Title"] = "Pedidos";
}


<div class="panel panel-default">
  <div class="panel-heading">Pedidos</div>
  <div class="panel-body">

    <a class="btn btn-primary" asp-controller="Pedido" asp-action="Registro">Registrar</a>

    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Dt. Ultima Alteração</th>
          <th>Id Pessoa</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        @if (!Model.Pedidos.Any())
        {
            <tr>
              <td colspan="4">Nenhum Pedido</td>
            </tr>
        }
        @foreach (var item in Model.Pedidos)
        {
            <tr>
              <td>@item.PedidoCadastroId</td>
              <td>@item.DataAlteracao>
              <td>@item.IdPessoa</td>
              <td>
                <div class="btn-group">
                  <a class="btn btn-default" asp-action="GerarLink" asp-route-id="@item.PedidoCadastroId">Gerar Link</a>
                  <a class="btn btn-warning" asp-action="Cancelar" asp-route-id="@item.PedidoCadastroId">Cancelar</a>
                </div>
              </td>
            </tr>
        }
      </tbody>

    </table>
  </div>
</div>
